# Sets the database type (mysql or sqlite)
database_type=sqlite

# Sets the start and end year for data crawling.
start_year=2012				
end_year=2012				

# Update the list of shows in the database. (true or false)
update_show_indexes=false	

# Update the episode lists for each show. (true or false)
update_show_episodes=true	

# Sets the offset (the data scraping will start at the offset instead of 0 (leave 0 for default)
episode_offset=0			

# Sets the limit of shows to grab episode data for. (-1 for all).
episode_limit=-1