# Sets the database type. (mysql or sqlite)
database_type = sqlite

# Database file the data should be saved to. (Exclude the .db for sqlite)
database_file_name = database

# For MYSQL database only.
db_username = test
db_password = test123
db_ip = localhost

# Sets the start and end year for data crawling.
start_year = 2013
end_year = 2013

# Update the list of shows in the database. (1 for true, or 0 for false)
update_show_indexes = 1

# Update the episode lists for each show. (1 for true, or 0 for false)
update_show_episodes = 1

# Sets the limit of shows to be saved.
show_limit = 3

# Sets the offset (the data scraping will start at the offset instead of 0. (leave 0 for default)
episode_offset = 0

# Sets the limit of shows to grab episode data for. (-1 for all)
episode_limit = -1

# Sets the limit of films to be saved.
film_limit = -1

# When set to 0 it will show minimal information. 
# If set to 1 it will show information on exactly what is saved.
verbose=1