
<html> 
  <link rel="stylesheet" type="text/css" href="css/signUp.css" />
<link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
    <head> 
      <title>Sign-Up</title> 
    </head> 
	<body id="body-color"> 

      <div class="signUp">
            <h1>Sign-Up</h1><br>
          <form method="POST" action="../Model/Login/signUp.php">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="username" placeholder="Userame">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="submit" class="login login-submit" value="Sign-Up">
          </form>

          <div class="login-help">
            <a href="login.php">Login</a>
          </div>
    </div>
	</body>
</html>


