body {
	background-color: #81C784;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration:None;
	color: rgb(0,0,0);
}

p{
	line-height: 110%;
	display:table;
}


.ias_loader, .ias_trigger {
	text-align:center;
	margin: 30px 0 40px;
}

.ias_trigger a:link, .ias_trigger a:visited {
    padding: 4px 50px;
    background-color: #f9f9f9;
    border: solid 1px #ddd;
    border-radius: 2px;
    font-family: bold 12px "Open Sans", sans-serif;
    color: #555;
    text-decoration: none;
}

.ias_trigger a:hover, .ias_trigger a:active {
    border-color: #ccc;
}

div.show_container{
	background-color:#E8F5E9;
	width:900px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	padding-left:22px;
	padding-top:20px;
	margin-top:20px;
	border-color: rgb(0, 0, 0);
}

div.image{
	display:inline-block;
	width:223px;
	height:350px;
	box-shadow: rgba(0, 0, 0, 0.8);
}

img.liked {
}

img.cover {
	width:200;
	height:250;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
