body {
	background-color: #81C784;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration:None;
	color: rgb(0,0,0);
}

p{
	line-height: 110%;
	display:table;
}

.ias_loader, .ias_trigger {
	text-align:center;
	margin: 30px 0 40px;
}

.ias_trigger a:link, .ias_trigger a:visited {
    padding: 4px 50px;
    background-color: #f9f9f9;
    border: solid 1px #ddd;
    border-radius: 2px;
    font-family: bold 12px "Open Sans", sans-serif;
    color: #555;
    text-decoration: none;
}

.ias_trigger a:hover, .ias_trigger a:active {
    border-color: #ccc;
}

div.show_container{
	background-color:#E8F5E9;
	width:900px;
    min-height: 400px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	padding-left:22px;
	padding-top:20px;
    padding-bottom:20px;
	margin-top:40px;
	border-color: rgb(0, 0, 0);
    height:initial;
}

table{
    margin: 0 auto;
    width:400px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

tr{
    width:100px;
}

table, th, td {
    border: 1px solid #BDBDBD;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

div.info{
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    text-align:center;
    margin-left: 250px;
    margin-bottom: 50px;
    margin-right:50px;
}

div.info p{

}

div.show_info {
    width:200px;
	display: inline-block;
	height: 20px;
	margin:0 auto;
}

p.spacing {
    color:white;
}

p.show_info {
	color: black;
	text-align: center;
	border-radius: 2px;
	padding: 0;
	margin: 15px 0 0 5px;
	font-size: 12px;
	background-color: white;
	width: 88px;
	display: inline-block;
	border-style: solid;
	border-color:white;
	z-index: 1;
    box-shadow: 0 2px 6px rgba(0,0,0,0.6);
	text-decoration: none;
}

p.double_info {
	width: 186px;
}

div.image{
	display:inline-block;
	width:223px;
	height:350px;
	box-shadow: rgba(0, 0, 0, 0.6);
}

div.show_table_info {
	background-color: white;
	width:250px;
	border-style:solid;
	border-color:white;
	margin: 0 auto;
	display: inline-block;
	margin-left:10px;
	margin-right:10px
	margin-top:15px;
	font-size: 12px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

table.info {
	margin-top:15px;
	width:100%;
	height:10px;
	text-align: center;
	border-style:none;
	table-decoration: none;
	border-color:red;
	-webkit-transition: all 0.5s;
	background-color: rgba(0, 0, 0, 0.05);
	transition: all 0.5s;
	margin-bottom:-15px;
}

tbody {
	border-color:red;
	width:100%;
}

td {
	background-color:white;
	font-size: 12px;
	border-style: none none none none;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6px);
}


div.summary {
	background-color:white;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
	border-color:white;
	border-style:solid;
	text-align:left;
	font-size:15px;
	margin-top:15px;
}

p.summary {
	margin: 0;
	padding: 0;

}

div.title {
	margin: 0 auto;
	padding: 0;
	width: 300px;
}

h2.title {
	margin: 0;
	padding: 0;
	color:black;
	background-color:white;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
	text-align:center;
	font-size:20px;
	border-style:solid;
	border-color:white;
}

img.liked {
}

img.cover {
	width:200;
	height:300;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

div.image:hover {
	background-color: rgba(100, 100, 100, 0.0);
	height: 0px;
}
