body{ 
	background-color: #81C784;
    margin:0;
	padding: 0;
}
 
div.signUp{ 
	background-color:#E8F5E9;
	width:30%;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	border-color: rgb(0, 0, 0);
    height:initial;

} 

