body {
	background-color: rgb(150, 200, 200);
	font-family: "Open Sans", sans-serif;
}

a {
	text-decoration:None;
	display: inline;
	color: rgb(0,0,0);
}

p{
	line-height: 110%;
	display:table;
}

.ias_loader, .ias_trigger {
	text-align:center;
	margin: 30px 0 40px;
}

.ias_trigger a:link,
.ias_trigger a:visited {
    padding: 4px 50px;
    background-color: #f9f9f9;
    border: solid 1px #ddd;
    border-radius: 2px;
    font-family: bold 12px "Open Sans", sans-serif;
    color: #555;
    text-decoration: none;
}

.ias_trigger a:hover,
.ias_trigger a:active {
    border-color: #ccc;
}

div.show_container{
	background-color:rgb(255, 255, 255);
	padding-top:16px;
	padding-left:16px;
	border-radius:20px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	border-style:solid;
	border-width:2px;
	margin-left:250px;
	border-color: rgb(0, 0, 0);
}

div.image{
	display:inline-block;
	width:223px;
	height:350px;
	color:rgb(40, 140, 40);
	box-shadow: rgba(0, 0, 0, 0.8);
}

img.liked {
}

img.cover {
	width:200;
	height:250;
	border-radius:10px;
	border-style: solid;
}
