body {
	background-color: rgb(150, 200, 200);
	font-family: "Open Sans", sans-serif;
}

a {
	text-decoration:None;
	color: inherit;
	Display: inline;
}

div.navigation{
	Display:inline;
	text-align:center;
	margin-bottom:10px;
	border-style:solid;
	border-width:2px;
	border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255) rgb(0, 0, 0);
}

div.show_container{
	background-color:rgb(255, 255, 255);
	align:center;
	padding-top:16px;
	padding-left:16px;
	border-radius:20px;
	width:892px;
	margin: 0px auto;
	border-style:solid;
	border-width:2px;
	border-color: rgb(0, 0, 0);
}

div.image{
	display:inline-block;
	align:center;
	width:223px;
	height:375px;
	color:rgb(40, 140, 40);
}

div.tracking{
	margin-left:175px;

}


img.cover {
	width:300;
	height:450;
	border-radius:10px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
}
